<ul class="list-group ">
  <% @candidats.each do |candidat| %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <%= link_to candidat_path(candidat) do %>
          <%= image_tag candidat.photo, class: "img-fluid object-fit w-100 p-3" %>
        <% end %>
        <div class="fw-bold">
          <%= candidat.first_name %>

           <%= candidat.last_name %>

          <%= candidat.partie %>
        </div>
      </div>
    </li>
  <% end %>



   <div class="ms-2 me-auto">
      <%= image_tag "centre.jpg", class: "img-fluid object-fit w-100 p-3" %>
     <div class="fw-bold">PAUL CLUSOT</div>
       Parti Liberal
   </div>


  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
    <%= image_tag "droite.png", class: "img-fluid object-fit w-100 p-3" %>
     <div class="fw-bold">MARIE-CLOTILDE AUTAIN</div>
        L'Array Publique
   </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
    <%= image_tag "extreme-gauche.png", class: "img-fluid object-fit w-100 p-3" %>
    <div class="fw-bold"> MARYAM TAUBICA</div>
      La France Indomptable
   </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
     <%= image_tag "gauche_new.png", class: "img-fluid object-fit w-100 p-3 size-15" %>
     <div class="fw-bold">  RABBIA KELOUA </div>
      La Démocratie en Marche
   </div>
  </li>

  <li class="list-group-item d-flex justify-content-between align-items-start">
   <div class="ms-2 me-auto">
    <%= image_tag "extreme-droite.png", class: "img-fluid object-fit w-100 p-3" %>
    <div class="fw-bold"> GERARD MARTIN </div>
       Le Parti Nationaliste
   </div>
  </li>
</ul>

