
<div class = "container">
  <div class ="list-prog">
    <%= image_tag @candidat.photo, class:"avatar-list"%>
      <h2 class="text-center"> <%= @candidat.first_name.upcase() %> <%= @candidat.last_name.upcase() %>
      </h2>
      <br>
    <p class="text-center"><%= @candidat.partie %> </p>
    <div class="text-start">
    <p> <%= @candidat.programm %> </p>
    </div>
  </div>
</div>
