
<div class = "container">

  <div class ="list-prog">
    <div>
      <%= cl_image_tag @candidat.photo.key, class:"avatar-list"%>
    </div>
    <div>
      <div class="margin-top-50">
        <h2 class="text-center"> <%= @candidat.first_name.capitalize() %> <%= @candidat.last_name.upcase() %>
        </h2>
      </div>
      <div>
        <p class="text-align-center"><%= @candidat.partie %> </p>
      </div>
    </div>
  </div>
  <h3>SA CARRIERE</h3>
  <div class="text-start">
    <p> <%= @candidat.career %> </p>
    <hr>
    <h3>SON PROGRAMME</h3>
  <div class="text-start">
    <p> <%= @candidat.programm %> </p>
  </div>
</div>
