<div class="container">
    <p class="lorem m-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p>
    <button type="button" class="btn btn-danger m-3">Démarrer</button>

    <div class="card">
        <% @candidats.each do |candidat| %>
            <%= link_to candidat_path(candidat), :action => 'go' do %>
                <div class="container_card">
                    <%= image_tag candidat.photo, class: "image_candidat" %>
                                <%# <div class="container__info">
                                    <span><i class="fas fa-eye"></i>2350</span>
                                    <span><i class="fas fa-comment-alt"></i>624</span>
                                    <span><i class="fas fa-download"></i>1470</span>
                                </div> %>
                    <div class="container__profile">
                        <img
                        src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                        alt="people"
                        />
                        <div class="container__profile__text">
                            <h2><%= candidat.first_name %> <%= candidat.last_name %></h2>
                            <p><%= candidat.partie %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>