<div class="container">
    <p class="lorem m-3">Lost In Vote propose un questionnaire sur les positions politiques des utilisateurs.
        <br>Les questions portent sur des sujets tels que l'économie, l'environnement et les droits de l'homme.
        <br>Les réponses des utilisateurs sont ensuite utilisées pour proposer des partis politiques et des candidats qui correspondent le mieux à leurs opinions.
        <br>Le site vise à aider les électeurs à prendre des décisions éclairées lors des élections.</p>
    <a href="questionnaires/:id" class="button-30">Démarrer</a>
    <%# <button class="button-30" role="button">Démarrer</button> %>
    <hr>
    <div class="card">
        <% @candidats.each do |candidat| %>
            <%= link_to candidat_path(candidat), :action => 'go' do %>
                <div class="container_card">
                    <%= image_tag candidat.photo, class: "image_candidat" %>
                    <div class="container__profile">
                        <div class="container__profile__text">
                            <h2><%= candidat.first_name %> <%= candidat.last_name %></h2>
                            <p><%= candidat.partie %></p>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>


<div class="carousel">
  <ul class="carousel__list" data-controller="candidats-card" data-action="click->candidats-card#moveCard">
    <% @candidats.each_with_index do |candidat, index| %>

        <% if index == 0 %>
            <div class="carousel__item" data-pos="-2">
                <%= image_tag candidat.photo, class: "image_candidat --from-carousel" %>           
            </div>

        <% elsif index == 1 %>
            <div class="carousel__item" data-pos="-1">
                <%= image_tag candidat.photo, class: "image_candidat --from-carousel" %>
            </div>
        <% elsif index == 2 %>
            <div class="carousel__item" data-pos="0">
                <%= image_tag candidat.photo, class: "image_candidat --from-carousel" %>
            </div>
        <% elsif index == 3 %>
            <div class="carousel__item" data-pos="1">
                <%= image_tag candidat.photo, class: "image_candidat --from-carousel" %>
            </div>
        <% elsif index == 4 %>
            <div class="carousel__item" data-pos="2">
                <%= image_tag candidat.photo, class: "image_candidat --from-carousel" %>
            </div>
        <% end %>
    <% end %>
  </ul>
</div>